// ARTICLE (aka single.php)


.article-wrap {
  overflow: hidden;
}

.share-icons {
  @include centered-content();
  @include divider-top();
  @include divider-btm();
  display: flex;
  justify-content: flex-end;

  .social-icons {
    margin: 1rem;
  }
}

article {
  width: clamp(px2rem(256), 100%, px2rem(752));
  position: relative;
}

article .uthevet-sitat {
  padding: $small-gap 0;
}

// Article images
article figure {
  max-width: 100%;
  margin: 0;
  padding: $small-gap 0;
}

.opp-ned {
  transform: rotate(180deg);
  /* Optional solution that blacks out instead of rotating
  background-color: var(--text-color);
  color: var(--text-color);
  transition: background-color $s-t-time;

  &:hover, &:active{
    background-color: var(--background-color);
  }
  */
}

article .img-right img {
  width: clamp(12rem, 90vw, 22rem);
}


// DESKTOP ONLY ------------------------ 
@media screen and (min-width: $tablet) {
  article .img-right,
  article img.alignright {
    position: absolute;
    left: 100%;
    margin-left: $default-gap;
  }
}

// TABLET & BIGGER ------------------------ 
@media screen and (min-width: $mobile) {
  .cover {
    gap: 3rem;
  }

  .cover:not(.landscape) {
    flex-direction: row-reverse;

    .tekstdel {
      justify-content: center;
    }
  }
}


// TABLET & SMALLER ------------------------ 
@media screen and (max-width: $tablet) {
  article .img-right,
  article img.alignright {
    width: 100%;
  }
}


// MOBILE ONLY ------------------------ 
@media screen and (max-width: $mobile) {
  .article-wrap {
    margin-top: 0;
  }
  .sak.cover {
    text-align: left;
  }
  .cover .tags {
    justify-content: left;
    gap: 1rem;
  }
}
