@import 'dirs';

/*

COLORS

Constants, classes and themes that dictate color.

*/


body {
  // Color options -------------------
  --theme-light: var(--white);
  --theme-dark: var(--black);

  --background-color: var(--theme-light);
  --text-color: var(--theme-dark);

  background-color: var(--background-color);
  color: var(--text-color);
  fill: var(--text-color);


  // Color constants -----------------
  --invisible: rgba(0, 0, 0, 0.15) --opaque: rgba(128, 128, 128, 0.15);
  --old-stoff-bg: #F9F7F1;
  --black: #000;
  --white: #FFF;
  --gray: rgb(100, 100, 100);
  --almost-black: #1b1a1c; // For dark mode 
  --almost-white: #C1CADF; // For dark mode
  --Innhold: #939598;
  --Essay: #FFEC18;


  // Color categories ---------------------------------------------------------------

  // Creates classes that color text to corresponding category color
  // NOTE: Can be replaced by approach in inc/category-clr.php

  $clr-categories: (
    "Samfunn": '#F48026',
    "Kultur": '#ED028C',
    "Debatt": '#2F94AB',
    "Quiz": '#EE1D23',
    "Foto": '#00AFA0',
  );

  @each $name, $code in $clr-categories {
    --#{$name}: #{$code}; 
    --#{$name}-light: color.adjust(#{$code}, $lightness: 30%);
    
    .#{$name} {
      color: var(--#{$name});
      &:hover {
        //color: var(--#{$name}-light); // Todo: Can't get sass:color to work
      }
    }
  }

  
}

// ---------------------------------------------------------------

.dark-mode {
  // Apply this class to body for dark mode
  --background-color: var(--theme-dark);
  --text-color: var(--theme-light);

  --theme-light: var(--almost-white);
  --theme-dark: var(--almost-black);
}

.dark {
  // For dark background and light text regardless of dark/light mode
  --background-color: var(--theme-dark);
  --text-color: var(--theme-light);

  background-color: var(--background-color);
  color: var(--text-color);
  fill: var(--text-color);
}

.pattern-bg {
  background-image: url("#{$images}/pattern.png");
  background-repeat: repeat;
}

.dark-mode .pattern-bg #header-big,
.dark-mode .pattern-bg .hidden #hamburger {
  --text-color: var(--theme-dark);
  color: var(--text-color);
  fill: var(--text-color);
}
