@import 'dirs';

// FONTS


// ----- Icon fonts --------

@font-face {
  // https://fonts.google.com/icons
  font-family: 'Material_Symbols';
  src: url("#{$fonts}/MaterialSymbolsSharp.woff2") format("woff2");
}

@font-face {
  /* 
    Made with fontello.com for icons Material Symbols lack.
    Has 3 symbols, make a new font to add more:
        Facebook: 
        Instagram: 
        Twitter: 
    */
  font-family: 'Social_Icons';
  src: url("#{$fonts}/Social-Icons/icons.woff2") format("woff2");
}

// --------------- FONT FAMILIES ------------------------

@mixin font($fam, $var, $weight) {
  font-family: $fam + '_web';
  src: url("#{$fonts}/#{$fam}/#{$fam}-#{$var}.woff2") format("woff2");
  font-weight: $weight;
  font-display: swap;
  @if (str-index($var, 'Italic')) {
    font-style: italic;
  }
}

@mixin font-fam($family, $vars) {
  @each $var, $weight in $vars {
    @font-face {
      @include font($family, $var, $weight);
    }
  }
}

// ----- DIN --------
$DIN-vars: (
  "Light": 300,
  "Regular": 400,
  "Bold": 700,
  "Black": 900,
);
@include font-fam('DIN', $DIN-vars);


// ----- SabonLtStd --------
$Sabon-vars: (
  "Roman": 400,
  "Italic": 400,
  "Bold": 700,
  "BoldItalic": 700
);
@include font-fam('SabonLtStd', $Sabon-vars);

