/*

MIXINS

Common style elements to be used by other stylesheets.

*/

@mixin centered() {
  margin: 0 auto;
}

@mixin centered-content() {
  @include centered();
  width: $content-width;
}

@mixin divider-top() {
  border-top: $divider-height solid var(--text-color);
}

@mixin divider-btm() {
  border-bottom: $divider-height solid var(--text-color);
}

@mixin crossBrowser($property, $val) {
  -webkit-#{$property}: $val;
  -moz-#{$property}: $val;
  -ms-#{$property}: $val;
  #{$property}: $val;
}

@mixin displayGrid() {
  display: -ms-grid;
  display: grid;
}

@mixin displayFlex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($val) {
  -webkit-box-flex: $val;
  -webkit-flex: $val;
  -ms-flex: $val;
  flex: $val;
}

@mixin unselectable() {
  @include crossBrowser(user-select, none);
}


