// VARIABLES (size & time constants)

$content-width: clamp(px2rem(256), 90vw, px2rem(1200));
$default-gap: px2rem(40);
$small-gap: px2rem(24);
$divider-height: 1px;

// Breakpoints
$tablet: px2rem(1024);
$mobile: px2rem(600);

// Times
$t-time: 0.25s ease; // Transition time
$q-t-time: 0.2s ease; // Quick transition time (link hover)
$s-t-time: 1s ease; // Slow transition time
