/*

RESETS

Removes built in styling for DOM elements.

*/

html {
  overflow-y: scroll;
}

body {
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

input {
  all: unset;
  min-width: 0;
}
