@import "abstracts/fonts";

// TEXT STYLES AND SIZES

$main-font: 'DIN_web';


@mixin material-symbol() {
  line-height: 1;
  font-variation-settings: 'FILL' 1;
}

@mixin spaced() {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@mixin sizeNline($size) {
  font-size: $size;
  line-height: $size;
}

body {
  font-family: $main-font, -apple-system, BlinkMacSystemFont, 'Helvetica', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Social_Icons', 'Material_Symbols';
}

#hamburger {
  @include material-symbol;
  font-variation-settings: 'FILL' 1; // 'wght' 700;
}

.large-categories .sub-menu .menu-item,
.header-menu .menu-item,
.small-menu-items .menu-item {
  @include spaced;
  @include sizeNline(px2rem(16));
  font-weight: bold;
}

.rad-overskrift {
  @include spaced;
  @include sizeNline(px2rem(24));
}

div[class$="-adlabel"],
.annonse-tag {
  @include sizeNline(px2rem(12));
  font-family: $main-font;
  padding-bottom: px2rem(4);
}

.sak {
  text-align: center;

  // Use &shy; to mark good places to break text. E.g. "train&shy;station"
  word-wrap: break-word;
  @include crossBrowser(hyphens, manual);
  
}

.overskrift {
  // Variable size for resizing in smaller viewports.
  --font-size: 2rem;
  font-size: var(--font-size);
  line-height: var(--font-size);
}

.cover .overskrift {
  font-weight: bold;
  text-transform: uppercase;
}

.tag {
  @include spaced;
  @include sizeNline(px2rem(12));
  font-weight: bold;
}

.social-icons .icon,
.menu .icon {
  @include material-symbol();
  font-size: 2rem;
  font-variation-settings: 'FILL' 1, 'wght' 300;
}

#search-input {
  font-size: 1.5rem;
}

.large-categories .menu-item {
  $font-size: px2rem(40);

  @include sizeNline($font-size);
  padding: px2rem(6) 0;

  .icon {
    @include sizeNline($font-size);
  }
}

.social-icons .icon {
  @include sizeNline(px2rem(24));
}

.menu .text {
  font-weight: bold;
  line-height: 1.4;
}



// Article page --------------------

.cover .overskrift {
  font-size: clamp(2rem, 5.5vw, 4rem);
  line-height: 1;
}

article {
  font-family: "SabonLtStd_web";
  font-size: px2rem(20);
  line-height: px2rem(30);

  a {
    text-decoration: underline;
  }

  li::marker, strong, b {
    font-family: $main-font;
    font-weight: bold;
  }

  // Weird stuff to make old posts look better

  h1, h2, h3, h4 {
    font-family: $main-font;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h5 {
    font-weight: bold;
  }

  h6 {
    font-weight: normal;
  }

  h5, h6 {
    font-family: $main-font;
    font-size: unset;
    margin: 0;
  }

}

article figcaption {
  font-family: $main-font;
}

// Quiz
.Quiz-article article li {
  // Space for marker
  margin: 3rem;
  padding: 0.5rem;
}
.Quiz-article article li::marker {
  font-size: 3rem;
  color: var(--Quiz);
  top: 10%;
}

article figcaption {
  font-size: px2rem(14);
  line-height: px2rem(20);
}

article .uthevet-sitat {
  font-family: $main-font;
  font-size: px2rem(32);
  line-height: px2rem(48);
  text-transform: uppercase;
}

// Other pages ---------------

.big-404 {
  @include unselectable();
  font-size: clamp(2rem, 40vw, 30rem);
  font-family: 'BodoniMtStd_web';
  font-weight: 500;
  line-height: 1;
  font-style: italic;
  margin: 0;
}


// DESKTOP ONLY ------------------------ 
@media screen and (min-width: $tablet) {

  // ---- one-split ----

  /*
  .dark-mode .one-split .overskrift {
    font-weight: bold;
  }
  */

  .one-split .overskrift {
    --font-size: 4rem;
  }

  .dark .one-split .overskrift {
    // Some bold headlines in dark mode 
    font-weight: bold;
  }


  // ---- two-split & one-split ----

  .two-split .overskrift {
    --font-size: 2.5rem;
  }

  .one-split .ingress,
  .two-split .ingress {
    font-size: px2rem(20);
  }
}


// TABLET & BIGGER ------------------------ 
@media screen and (min-width: $mobile) {
  .cover .ingress {
    font-size: px2rem(20);
  }
}
