/*

HEADER

Anything styling the header and it's contents.

*/

#header-bar {
    $t-time: 0.25s ease;

    position: fixed;
    width: 100%;
    height: px2rem(80);
    background-color: rgba(255, 255, 255, 0.80);
    z-index: 1;
    transition: background-color $t-time;

    .content {
        @include centered-content();
        position: relative;
        height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center; 

        .logo svg{
            height: px2rem(32);
            width: auto;
            transition: opacity $t-time;
        }
    }
}

#header-bar.hidden {
    background-color: var(--invisible);
    .logo svg{
        opacity: 0;
    }
}


.header-big {
    @include centered-content();
    position: relative;
    display: flex;
    flex-direction: column;
    gap: $default-gap;
    padding: $small-gap 0; // For mobile, overridden elsewhere
}
  
.header-big .logo, .header-menu {
    // Header menu has same size as logo
    width: clamp(8rem, 60%, px2rem(560));
}
  
.header-menu-wrapper {
    @include divider-top();
    width: 100%;
    padding-top: 0.5rem;
}
  
.header-menu {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;

    .menu-item {
        flex-grow: 0.2;
        padding: 0.5rem;
        text-align: center;
    }
}
  




//  TABLET & BIGGER --------------------
@media screen and (min-width: $mobile) {

    .header-big {
        padding: px2rem(56) 0; // This size isn't used anywhere else 
    }

    .header-big .logo, .header-menu {
        @include centered();
    }

}


//  TABLET & SMALLER -------------------
@media screen and (max-width: $tablet) {

    .header-menu-wrapper {
      display: none;
    }
    
}