@import 'abstracts/helpers';
@import 'abstracts/sizes';
@import 'abstracts/colors';

@import 'core/resets';
@import 'abstracts/mixins';
@import 'core/typography';
@import 'layout/grid';
@import 'components/header';
@import 'layout/image-sizing';
@import 'components/menu';

/*

MAIN STYLESHEET

This Sass-file is compiled into CSS using the Wordpress plugin WP-SCSS.

Classes should be sorted by appearance in the layout structure, which can be
found in this directory.

*/


a, button {
    transition: color 0.1s, fill 0.1s;
    user-select: none;
    &:hover {
        $hoverClr: var(--essay);
        color: $hoverClr;
        fill: $hoverClr;
    }
}

