@import 'abstracts/helpers';
@import 'abstracts/variables';
@import 'abstracts/colors';
@import 'abstracts/mixins';

@import 'core/resets';
@import 'core/typography';

@import 'layout/grid';
@import 'layout/image-sizing';

@import 'components/header';
@import 'components/menu';

@import 'pages/article';

/*

MAIN STYLESHEET

This Sass-file is compiled into CSS using the Wordpress plugin WP-SCSS.

Classes should be sorted by appearance in the layout structure, which can be
found in the info directory.

*/

#wpadminbar {
  position: fixed;

  --background-color: var(--theme-dark);
  --text-color: var(--theme-light);

  background-color: var(--background-color);
  color: var(--text-color);

  .ab-item::before,
  .ab-icon::before {
    color: var(--theme-light);
  } 
}

input[type=submit],
a:not(.logo),
button:not(.logo) {
  transition: color $q-t-time, fill $q-t-time;
  user-select: none;

  &:hover {
    $hoverClr: var(--gray);
    color: $hoverClr;
    fill: $hoverClr;
    cursor: pointer;
  }
}

.social-icons {
  display: flex;
  gap: px2rem(16);
}
