/*

GRID

Sizing and placement in the overall page structure of rows and columns.
The sak (content) component also resides here, as it is very
intertwined with the gird.

*/


//  DESKTOP & SMALLER ------------------------

.rad-gruppe {
  @include centered-content();
  padding: $default-gap 0;
}

.rad,
.kolonne {
  display: flex;
  flex-direction: row; // flex-direction: column for .kolonne further down */
  gap: $default-gap;
}

.annonse-tag {
  padding-bottom: px2rem(4);
}

.ad {
  width: 100%;
}

.sak {
  display: flex;
  flex-direction: column;
  padding: $default-gap 0;
  width: 100%;
  gap: $small-gap;

  .innhold {
    display: flex;
    flex-direction: column;
    gap: $small-gap;
  }
}

.tekstdel {
  display: flex;
  flex-direction: column;
  gap: $small-gap;
}

.tags {
  display: flex;
  justify-content: center;
  gap: $small-gap;
}

.kolonne {
  flex-direction: column;
}



//  DESKTOP ONLY ------------------------ 
@media screen and (min-width: $tablet) {

  // ---- one-split ----

  .one-split .innhold,
  .one-split .tekstdel {
    gap: $default-gap;
  }


  // ---- two-split & one-split ----

  .two-split,
  .one-split,
  .two-split .innhold,
  .one-split .innhold,
  .three-split-alt,
  .three-split-alt .one-split {
    gap: px2rem(48);
  }


  // ---- three-split-alt ----

  .three-split-alt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .three-split-alt .one-split {
    grid-column: span 2;
  }

  .kolonne {
    gap: 0;
  }

  .kolonne .bilde-wrapper {
    height: px2rem(208);
  }

  .kolonne .ingress {
    display: none;
  }

}

// TABLET & BIGGER ------------------------ 
@media screen and (min-width: $tablet) {

  .one-split .ingress {
    padding: 0 20%;
  }

}

// TABLET  ------------------------ 
@media screen and (max-width: $tablet) and (min-width: $mobile) {

  .three-split .ingress {
    padding: 0 20%;
  }

}


// TABLET & SMALLER ------------------------ 
@media screen and (max-width: $tablet) {

  .three-split,
  .three-split-alt {
    flex-direction: column;
  }

  .kolonne {
    flex-direction: row;
  }

}



// MOBILE ------------------------ 
@media screen and (max-width: $mobile) {

  .two-split,
  .kolonne {
    flex-direction: column;
  }

}
