// IMAGE SIZING

.bilde-wrapper {
  @include displayFlex();
  justify-content: center;
  height: px2rem(256);
  background-color: var(--opaque);
  overflow: hidden;

  img {
    align-self: center;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}



.cover img {
  width: auto;
  max-height: 100vmin;
}

.cover.landscape img {
  max-height: 70vmin;
}

.cover .bilde-wrapper {
  height: auto;
}

// DESKTOP ONLY ------------------------ 
@media screen and (min-width: $tablet) {

  .one-split .bilde-wrapper {
    height: px2rem(480);
  }

  .kolonne .landscape .bilde-wrapper,
  .one-split.landscape .bilde-wrapper {
    height: auto;
  }

  .two-split .bilde-wrapper {
    height: px2rem(400);
  }

  .sak:not(.cover).landscape img {
    max-height: inherit;
    width: 100%;
  }

}

// MOBILE ONLY ------------------------ 
@media screen and (max-width: $mobile) {

  .landscape .bilde-wrapper {
    height: auto;
  }

}



